:root {
    --var-color1: white;
    --var-colo2: #0D0D0D;
    --var-color3:#B2060F;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-style{
    width: 1020px;
    margin: 0 auto;
}

/*! Generics */

body{
    background-color: var(--var-color3);
}

header{
    background-color: var(--var-colo2);
    color: var(--var-color1);
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

header img{
    max-width: 5%;
}
/* 
div .card{
    background-color: var(--var-color3);
    color: var(--var-color1);
} */